html {
  min-height: 100vh;
}
body {
  height: 100vh;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.app-main {
  text-align: center;
  height: 100vh;
  background-image: url('./images/pic2.jpg');
  background-color: rgba(0, 0, 0, .8);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.app-main h1 {
  font-size: 40px;
  text-shadow: 1px 1px 2px gray;
}
.app-header {
  color: black;
  padding: 20px;
}
.app-body {
  padding: 20px 40px;
  margin-top: 1rem;
  background-color: rgba(255, 255, 255, .8);
  border-radius: 25px;
}
.row {
  display: flex;
  justify-content: center;
}


.error {
  color: red;
}


